@import url(https://cdn.jsdelivr.net/gh/youngjuning/youngjuning.js.org@main/source/assets/css/common.css);
@import url(https://cdn.jsdelivr.net/gh/youngjuning/youngjuning.js.org@main/source/assets/css/header.css);
@import url(https://cdn.jsdelivr.net/gh/youngjuning/youngjuning.js.org@main/source/assets/css/footer.css);

.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.home-grid .games {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width: 540px) and (max-width: 767px) {
    .home-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 539px) {
    .home-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
