@import url(https://cdn.jsdelivr.net/gh/youngjuning/youngjuning.js.org@main/source/assets/css/common.css);
@import url(https://cdn.jsdelivr.net/gh/youngjuning/youngjuning.js.org@main/source/assets/css/header.css);
@import url(https://cdn.jsdelivr.net/gh/youngjuning/youngjuning.js.org@main/source/assets/css/footer.css);

main {
    max-width: 1280px;
    margin: 0 auto;
}

.title {
    font-size: var(--xxxxxl-fontsize);
    font-weight: 700;
    color: #1d1d1f;
    text-align: center;
    margin-bottom: 30px;
}

.recommend {
    padding: 10px;
}

.recommend .content .games {
    grid-template-columns: repeat(8, 1fr);
    padding: 0;
}

@media screen and (max-width: 539px) {
    .recommend {
        padding: 0 2vmin;
    }
    .recommend .content .games {
        grid-template-columns: repeat(3, 1fr);
    }
}
